:root {
  --link-color: #2196f3;
  --principal-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #fff;
  --black-color: #000;
  --filter-btn-color: #f5f4fa;
  --footer-contacts-color: #80808060;
  --bck-grnd-color: #e5e5e5;
  --theme-color: #2f303a;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

.nav-list,
.qualities,
.offers,
.team,
.projects-filter,
.projects-portfolio,
.contacts-list-footer {
  list-style-type: none;
}

/* --- hover focus --- */

.button:hover,
.button:focus {
  color: var(--link-color);
  cursor: pointer;
}

a.index-link:hover,
a.index-link:focus {
  color: var(--link-color);
}

a.portfolio-link:hover,
a.portfolio-link:focus {
  color: var(--link-color);
}

a.contacts-link:hover,
a.contacts-link:focus {
  color: var(--link-color);
}

a.mail-link-header:hover,
a.mail-link-header:focus,
a.mail-link-footer:hover,
a.mail-link-footer:focus {
  color: var(--link-color);
}

a.tel-link-header:hover,
a.tel-link-header:focus,
a.tel-link-footer:hover,
a.tel-link-footer:focus {
  color: var(--link-color);
}

/* --- ----------- --- */

/* --- base config ---*/

section {
  padding: 94px 0;
}

section:nth-child(3n) {
  padding: 0;
}

.container {
  width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* --- ---------- ---*/

/* --- LOGO asset ---*/
.logo-link {
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--link-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 93px;
  padding: 24px 0px;
}

.color-logo-link-header {
  color: var(--black-color);
}

.color-logo-link-footer {
  color: var(--white-color);
}

/* --- -------- --- */

/* --- NAV styles --- */

.nav-menu {
  margin-right: 335px;
}
.nav-list {
  display: flex;
}

.nav-list > li {
  padding: 32px 0px;
  margin-right: 50px;
}

.nav-list > li:nth-child(3n) {
  margin-right: 0;
}

.contacts {
  display: flex;
  list-style-type: none;
  margin-right: auto;
}

.contacts > li {
  padding: 32px 0px;
  margin-right: 50px;
}

.contacts > li:nth-child(2n) {
  margin-right: 0px;
}

.index-link,
.portfolio-link,
.contacts-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--principal-text-color);
  text-decoration: none;
}

.mail-link-header,
.tel-link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

/* --- ---------- --- */

/* --- hero section --- */

.hero {
  padding: 200px 0;
  background-color: var(--theme-color);
}

.main-theme {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
  text-transform: uppercase;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-theme-btn {
  display: flex;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: var(--white-color);
  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* --- ------------ --- */

/* --- section header ---*/

.section-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--principal-text-color);
  text-align: center;
}

/* --- -------------- ---*/

/* --- qualities sec ---*/

.qualities {
  display: flex;
}

.qualities-item {
  width: 270px;
}

.qualities-item:nth-child(-n + 3) {
  margin-right: 30px;
}

.qualities-description-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--principal-text-color);
}

.qualities-description-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  margin-top: 10px;
}

/* --- ------------- ---*/

/* --- offer section ---*/

.offers {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.offer-item {
  display: block;
  width: 100%;
  height: auto;
  margin-right: 30px;
}

.offer-item:nth-child(3n) {
  margin-right: 0;
}

/* --- ------------- ---*/

/* --- team section ---*/

.team {
  display: flex;
  width: 1200px;
  margin-top: 50px;
}

.team > li {
  width: 270px;
  margin-right: 30px;
  background-color: var(--white-color);
}

.team > li:last-child {
  margin-right: 0px;
}

.team > li > img {
  display: block;
  width: 100%;
  height: auto;
}
.person-description {
  padding: 30px 60px;
}

.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--principal-text-color);
  text-align: center;
}

.person-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  margin-top: 10px;
  text-align: center;
}

/* --- ------------ ---*/

.container-main {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.projects-filter {
  width: 1200px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-filter-item:nth-child(-n + 4) {
  margin-right: 8px;
}

.projects-portfolio {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.projects-portfolio-item {
  width: 370px;
  background-color: var(--white-color);
  margin: 15px;
}

.projects-portfolio-item > img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-item-description {
  padding: 20px 24px;
}

.projects-portfolio-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--principal-text-color);
}

.projects-portfolio-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-text-color);
  margin-top: 4px;
}

.project-filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--principal-text-color);
  background: var(--filter-btn-color);
  border-radius: 4px;
  padding: 6px 22px;
}

.project-filter-btn:hover,
.project-filter-btn:focus {
  color: var(--white-color);
  background: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* --- footer --- */

footer {
  padding: 60px 0;
  background-color: var(--theme-color);
}

.footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo-link-footer {
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  text-decoration: none;
  color: var(--link-color);
}

.contacts-item-footer {
  margin-top: 9px;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  margin-top: 20px;
}

.mail-link-footer,
.tel-link-footer {
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-contacts-color);
  text-decoration: none;
  margin-top: 9px;
}

/* --- ------ --- */
